In [2]:
import pandas as pd
pd.read_csv('patents.csv')

C:\Users\Nicholas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,patnum,fdate,idate,pdate,permno,class,subclass,ncites,xi
0,1568040,4/14/1919,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
1,1568041,8/21/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
2,1568042,2/27/1922,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
3,1568043,12/12/1924,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
4,1568044,11/1/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
5,1568045,11/10/1917,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
6,1568046,8/24/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
7,1568047,8/31/1921,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
8,1568048,9/7/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
9,1568049,3/22/1924,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
10,1568050,11/22/1921,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
11,1568051,6/2/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
12,1568052,6/9/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
13,1568053,6/9/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
14,1568054,7/18/1924,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
15,1568055,2/19/1925,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
16,1568056,3/14/1922,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
17,1568057,6/23/1920,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
18,1568058,1/7/1925,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
19,1568059,3/27/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
20,1568060,6/4/1925,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
21,1568061,5/13/1921,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
22,1568062,7/21/1924,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
23,1568063,10/7/1922,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
24,1568064,10/6/1924,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
25,1568065,6/9/1923,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
26,1568066,9/18/1922,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
27,1568067,7/29/1922,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
28,1568068,NaN,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
29,1568069,7/9/1925,1/5/1926,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6240076,7827588,11/22/2006,11/2/2010,10/4/2007,NaN,NaN,NaN,NaN,NaN
6240077,7827589,4/12/2007,11/2/2010,8/9/2007,NaN,NaN,NaN,NaN,NaN
6240078,7827590,10/14/2005,11/2/2010,7/20/2006,NaN,NaN,NaN,NaN,NaN
6240079,7827591,10/8/2003,11/2/2010,4/14/2005,NaN,NaN,NaN,NaN,NaN
6240080,7827592,5/2/2007,11/2/2010,11/6/2008,12490.0,726,002000O,0.0,1.437032
6240081,7827593,6/29/2005,11/2/2010,1/4/2007,59328.0,726,003000O,0.0,4.427322
6240082,7827594,12/11/2003,11/2/2010,7/6/2006,NaN,NaN,NaN,NaN,NaN
6240083,7827595,8/28/2003,11/2/2010,3/3/2005,10107.0,726,004000O,0.0,9.827746
6240084,7827596,8/25/2005,11/2/2010,3/1/2007,12490.0,726,004000O,0.0,1.437032
6240085,7827597,10/19/2007,11/2/2010,2/14/2008,NaN,NaN,NaN,NaN,NaN
6240086,7827598,11/29/2007,11/2/2010,5/8/2008,12490.0,726,004000O,1.0,1.437032
6240087,7827599,5/19/2004,11/2/2010,11/24/2005,10104.0,726,005000O,0.0,32.538658
6240088,7827600,7/12/2007,11/2/2010,7/3/2008,NaN,NaN,NaN,NaN,NaN
6240089,7827601,11/15/2008,11/2/2010,3/19/2009,75831.0,726,011000O,0.0,1.063539
6240090,7827602,6/30/2003,11/2/2010,12/30/2004,10401.0,NaN,NaN,NaN,NaN
6240091,7827602,6/30/2003,11/2/2010,12/30/2004,66093.0,726,013000O,0.0,13.398651
6240092,7827603,2/13/2004,11/2/2010,NaN,NaN,NaN,NaN,NaN,NaN
6240093,7827604,7/30/2007,11/2/2010,1/24/2008,88266.0,726,014000O,0.0,1.820223
6240094,7827605,10/27/2008,11/2/2010,3/5/2009,75607.0,726,016000O,0.0,3.281026
6240095,7827606,11/21/2005,11/2/2010,6/29/2006,89382.0,726,017000O,0.0,0.601504
6240096,7827607,11/9/2005,11/2/2010,3/30/2006,75607.0,726,022000O,1.0,3.281026
6240097,7827608,2/8/2005,11/2/2010,8/10/2006,12490.0,726,023000O,0.0,1.437032
6240098,7827609,6/21/2006,11/2/2010,7/5/2007,NaN,NaN,NaN,NaN,NaN
6240099,7827610,3/27/2008,11/2/2010,8/21/2008,NaN,NaN,NaN,NaN,NaN
6240100,7827611,4/12/2002,11/2/2010,2/5/2004,77976.0,726,024000O,0.0,45.565128
6240101,7827612,8/26/2005,11/2/2010,12/22/2005,NaN,NaN,NaN,NaN,NaN
6240102,7827613,10/31/2007,11/2/2010,3/6/2008,12490.0,726,026000O,0.0,1.437032
6240103,7827614,5/22/2008,11/2/2010,1/1/2009,12490.0,726,026000O,0.0,1.437032
6240104,7827615,1/23/2007,11/2/2010,NaN,39087.0,726,028000O,0.0,7.511605
6240105,7827616,7/28/2006,11/2/2010,2/1/2007,53727.0,726,030000O,0.0,0.040673